/* client/src/index.css */

/* 1. Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Body Setup */
body {
  background-color: #ebeef1;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
}
