/* client/src/index.css */

/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set body background color and default text color */
body {
  background-color: #f4f3f1;
  color: #000000; 
  /* font-family: Arial, sans-serif; */
  font-family: 'Courier New', Courier, monospace;
}