/* Dashboard.css */

.dashboard-container {
  background-color: #000000;
}

.dashboard-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
  background: linear-gradient(to right, pink, lightblue);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.dashboard {
  display: flex;
  height: calc(100vh - 70px - 80px);
}

.error-message {
  color: red;
  margin: 1rem;
}