/* Dashboard.css */

.dashboard {
  display: flex;
  margin-top: 70px; 
  overflow: hidden;
}

.error-message {
  color: #e63946; /* Elegant red for error messages */
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
}