/* client/src/pages/LandingPage/LandingPage.css */

.landing-container {
    height: calc(100vh - 70px);
    /* Adjust for navbar height */
    display: flex;
    align-items: center;
  }
  
  .landing-content {
    margin-left: 10%;
    width: 45%;
    position: relative;
    z-index: 1;
  }
  
  .gradient-text {
    font-size: 4.5rem;
    font-weight: bolder;
    line-height: 1;
    color: #333;
  }
  
  .subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #333;
  }
  
  .cta-button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid transparent;
    /* background-image: linear-gradient(to right, pink, lightblue), linear-gradient(to right, #000000, #000000); */
    border-color: #333;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: all 0.3s ease;
  }
  
  .cta-button:hover {
    color: #333;
    filter: brightness(1.1);
  }
  
  .bottom-content {
    padding: 4rem 10%;
    color: #333;
    /* Dark text for bottom section */
  }